

.text{
    text-align: center;
    font-size: 35px;
}
.form{
    text-align: center;
    position: relative;
    right: 40px;

}
.table{
    background-color: aqua;
    position: relative;
    text-align: center;
    width: 300px;
    height: 100px;
    top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#guess {
    border-radius: 12px;
    font-size: 20px;
    padding-left: 10px;
}
#newGame{
    position: relative;
    border-radius: 12px;
    font-size: 20px;
    left: 570px;
}

#user-number{
    font-size: 25px;
}

.footer{
    background-color: black;
    color: azure;
    text-align: center;
    bottom: -450px;
    position: relative;
}
#view{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    left: 700px;
}
#message{
    text-align: center;
    color: red;
    font-size: 20px;
}
#randNum{
    text-align: center;
    font-size: 40px;
    color: blueviolet;
}
#view{
    left: 460px;
}
.menu-top{
    background-color: #3e4040;
    height: 35px;
    padding: 0;
    margin: 0;
}
.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
li{
    display: inline;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 3px;
    font-size: 20px;
}
.newgame{
    left: 20px;
}
.contact-form{
    position: center;
    display: flex;
    width: 400px;
    height:500px ;
    flex-direction: column;
    -webkit-box-align: center;
   padding-left: 550px;
    padding-top: 200px;
}
.email{
    display: block;
    height: 25px;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    padding: 10px;
    border-style: none none solid ;
}
.message{
    height: 200px;
    resize: none;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    padding: 10px;
    border-style: none none solid;
    border-radius: 0px;
}
 @media only screen and (min-width: 600px){
     .form{
         text-align: center;

     }
     .table{
         text-align: center;
         left: 450px;
     }
     #view{
         left: 550px;
     }
 }


